In [2]:
!pip install bs4

Requirement already satisfied: bs4 in g:\data science and ml metro\env\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in g:\data science and ml metro\env\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in g:\data science and ml metro\env\lib\site-packages (from beautifulsoup4->bs4) (2.5)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install requests

Requirement already satisfied: requests in g:\data science and ml metro\env\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in g:\data science and ml metro\env\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in g:\data science and ml metro\env\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in g:\data science and ml metro\env\lib\site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in g:\data science and ml metro\env\lib\site-packages (from requests) (2024.2.2)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
!pip install pandas

Requirement already satisfied: pandas in g:\data science and ml metro\env\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in g:\data science and ml metro\env\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in g:\data science and ml metro\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in g:\data science and ml metro\env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in g:\data science and ml metro\env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in g:\data science and ml metro\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas
url = "https://www.worldometers.info/coronavirus/"
response = requests.get(url)
response

In [3]:
# response.content

In [4]:
soup = BeautifulSoup(response.content, "html.parser")
# print(soup.prettify()[:5000])

In [5]:
table_head = soup.find("thead")
# table_head.text

In [6]:
world_data = soup.find("tbody").find_all("tr")
# world_data

In [7]:
for index, data in enumerate(world_data):
    # print(data)
    print("--------------------")
    if index == 2:
        break

--------------------
--------------------
--------------------

In [9]:
columns_names = [
    "Names",
    "Total Cases",
    "New Cases",
    "Total Deaths",
    "New Deaths",
    "Total Recovered",
    "New Recovered",
    "Active Cases",
    "Serious Cases",
    "Total Tests",
    "Population"
]

In [10]:
import pandas as pd
df = pd.DataFrame(columns=columns_names)
df

Empty DataFrame
Columns: [Names, Total Cases, New Cases, Total Deaths, New Deaths, Total Recovered, New Recovered, Active Cases, Serious Cases, Total Tests, Population]
Index: []

In [12]:
for index in range(8, len(world_data)):
    
    list_data = world_data[index].find_all("td")
    
    data = []
    
    for i in range(1, len(list_data)):
        
        if  i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 14]:
            item = list_data[i].text
            data.append(item)
            
    length = len(df)
    df.loc[length] = data
    
# df

,Names,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,Serious Cases,Total Tests,Population
0,USA,"111,560,998",,"1,216,375",,"109,323,566",,"1,021,057","1,544","1,186,765,074","334,805,269"
1,India,"45,030,332",,"533,496",,N/A,N/A,N/A,N/A,"935,879,495","1,406,631,776"
2,France,"40,138,560",,"167,642",,"39,970,918",,0,,"271,490,188","65,584,518"
3,Germany,"38,822,474",,"182,649",,"38,240,600",,"399,225",N/A,"122,332,384","83,883,596"
4,Brazil,"38,452,504",,"709,963",,"36,249,161",,"1,493,380",N/A,"63,776,166","215,353,593"
...,...,...,...,...,...,...,...,...,...,...,...
457,Tokelau,80,,,,,,80,,,"1,378"
458,Vatican City,29,,,,29,,0,,,799
459,Western Sahara,10,,1,,9,,0,,,"626,161"
460,MS Zaandam,9,,2,,7,,0,,,
461,China,"503,302",,"5,272",,"379,053",,"118,977",N/A,"160,000,000","1,448,471,400"

In [97]:
complete_data = []

for i in range(8, len(world_data)):
    
    list_data = world_data[i].find_all("td")

    data = []
    
    for i in range(1, len(list_data)):
        
        if i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 14]:
            
            single_data = list_data[i].text
            data.append(single_data)
            
    complete_data.append(data)
    
# complete_data

In [93]:
df = pd.DataFrame(complete_data, columns=columns_names)
data_to_insert = df.to_records(index=False)

In [73]:
df.to_csv("covid_data.csv", index=False)

In [74]:
pd.read_csv("covid_data.csv")

,Names,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,Serious Cases,Total Tests,Population
0,USA,"111,560,998",NaN,"1,216,375",NaN,"109,323,566",NaN,"1,021,057","1,544","1,186,765,074","334,805,269"
1,India,"45,030,332",NaN,"533,496",NaN,NaN,NaN,NaN,NaN,"935,879,495","1,406,631,776"
2,France,"40,138,560",NaN,"167,642",NaN,"39,970,918",NaN,0,NaN,"271,490,188","65,584,518"
3,Germany,"38,822,474",NaN,"182,649",NaN,"38,240,600",NaN,"399,225",NaN,"122,332,384","83,883,596"
4,Brazil,"38,452,504",NaN,"709,963",NaN,"36,249,161",NaN,"1,493,380",NaN,"63,776,166","215,353,593"
...,...,...,...,...,...,...,...,...,...,...,...
226,Tokelau,80,NaN,,NaN,NaN,NaN,80,NaN,NaN,"1,378"
227,Vatican City,29,NaN,,NaN,29,NaN,0,NaN,NaN,799
228,Western Sahara,10,NaN,1,NaN,9,NaN,0,NaN,NaN,"626,161"
229,MS Zaandam,9,NaN,2,NaN,7,NaN,0,NaN,NaN,
230,China,"503,302",NaN,"5,272",NaN,"379,053",NaN,"118,977",NaN,"160,000,000","1,448,471,400"

In [77]:
import sqlite3

db_name = "covid_data.db"

conn = sqlite3.connect(db_name)

cur = conn.cursor()

print(conn, cur)

<sqlite3.Connection object at 0x0000024E5E60ED40> <sqlite3.Cursor object at 0x0000024E5E620240>

In [113]:
query = """create table covid_details(Names varchar[50], Total_Cases varchar[50], New_Cases varchar[50],
        Total_Deaths varchar[50], New_Deaths varchar[50], Total_Recovered varchar[50],	New_Recovered varchar[50], Active_Cases varchar[50], 
        Serious_Cases varchar[50],	Total_Tests varchar[50], Population varchar[50])"""

In [114]:
cur.execute(query)

In [115]:
query = """insert into covid_details (Names, Total_Cases, New_Cases, Total_Deaths, New_Deaths, Total_Recovered,	New_Recovered, Active_Cases, 
        Serious_Cases,	Total_Tests, Population) values (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""

In [116]:
cur.executemany(query, data_to_insert)

In [117]:
cur.execute("select * from covid_details").fetchall()

[('USA',
  '111,560,998',
  '',
  '1,216,375                                ',
  '',
  '109,323,566',
  '',
  '1,021,057',
  '1,544',
  '1,186,765,074',
  '334,805,269 '),
 ('India',
  '45,030,332',
  '',
  '533,496                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '935,879,495',
  '1,406,631,776 '),
 ('France',
  '40,138,560',
  '',
  '167,642                                ',
  '',
  '39,970,918',
  '',
  '0',
  '',
  '271,490,188',
  '65,584,518 '),
 ('Germany',
  '38,822,474',
  '',
  '182,649                                ',
  '',
  '38,240,600',
  '',
  '399,225',
  'N/A',
  '122,332,384',
  '83,883,596 '),
 ('Brazil',
  '38,452,504',
  '',
  '709,963                                ',
  '',
  '36,249,161',
  '',
  '1,493,380',
  'N/A',
  '63,776,166',
  '215,353,593 '),
 ('S. Korea',
  '34,571,873',
  '',
  '35,934                                ',
  '',
  '34,535,939',
  '',
  '0',
  '',
  '15,804,065',
  '51,329,899 '),
 ('Japan',
  '33,803,572',
  '',
  '74,694                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '100,414,883',
  '125,584,838 '),
 ('Italy',
  '26,719,511',
  '',
  '196,348                                ',
  '',
  '26,351,971',
  '',
  '171,192',
  '45',
  '280,517,410',
  '60,262,770 '),
 ('UK',
  '24,902,971',
  '',
  '232,112                                ',
  '',
  '24,666,932',
  '',
  '3,927',
  'N/A',
  '522,526,476',
  '68,497,907 '),
 ('Russia',
  '23,983,769',
  '',
  '402,329                                ',
  '',
  '23,397,709',
  '',
  '183,731',
  'N/A',
  '273,400,000',
  '145,805,947 '),
 ('Turkey',
  '17,232,066',
  '',
  '102,174                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '162,743,369',
  '85,561,976 '),
 ('Spain',
  '13,914,811',
  '',
  '121,760                                ',
  '',
  '13,762,417',
  '',
  '30,634',
  '231',
  '471,036,328',
  '46,719,142 '),
 ('Australia',
  '11,825,254',
  '+1,104',
  '24,289                                ',
  '',
  '11,789,903',
  '',
  '11,062',
  '12',
  '81,916,639',
  '26,068,792 '),
 ('Vietnam',
  '11,625,195',
  '',
  '43,206                                ',
  '',
  '10,640,971',
  '',
  '941,018',
  '',
  '85,826,548',
  '98,953,541 '),
 ('Taiwan',
  '10,241,523',
  '',
  '19,005                                ',
  '',
  '10,222,518',
  '',
  '0',
  '',
  '30,742,304',
  '23,888,595 '),
 ('Argentina',
  '10,094,643',
  '',
  '130,733                                ',
  '',
  '9,963,910',
  '',
  '0',
  '',
  '35,716,069',
  '46,010,234 '),
 ('Netherlands',
  '8,634,822',
  '',
  '22,992                                ',
  '',
  '8,610,982',
  '',
  '848',
  'N/A',
  '25,984,435',
  '17,211,447 '),
 ('Mexico',
  '7,702,809',
  '',
  '334,958                                ',
  '',
  '6,899,865',
  '',
  '467,986',
  'N/A',
  '20,013,810',
  '131,562,772 '),
 ('Iran',
  '7,626,527',
  '',
  '146,799                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '57,320,267',
  '86,022,837 '),
 ('Indonesia',
  '6,829,005',
  '',
  '162,062                                ',
  '',
  '6,647,104',
  '',
  '19,839',
  'N/A',
  '114,158,919',
  '279,134,505 '),
 ('Poland',
  '6,660,687',
  '+125',
  '120,578                                ',
  '+5',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '39,286,858',
  '37,739,785 '),
 ('Colombia',
  '6,400,173',
  '',
  '143,200                                ',
  '',
  '6,212,152',
  '',
  '44,821',
  '342',
  '36,951,507',
  '51,512,762 '),
 ('Greece',
  '6,101,379',
  '',
  '37,869                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '102,228,365',
  '10,316,637 '),
 ('Austria',
  '6,081,287',
  '',
  '22,542                                ',
  '',
  '6,054,934',
  '',
  '3,811',
  '',
  '211,273,524',
  '9,066,710 '),
 ('Portugal',
  '5,642,449',
  '',
  '28,103                                ',
  '',
  '5,614,102',
  '',
  '244',
  '61',
  '46,139,518',
  '10,140,570 '),
 ('Ukraine',
  '5,557,995',
  '',
  '112,418                                ',
  '',
  '5,445,577',
  '',
  '0',
  '',
  '32,603,805',
  '43,192,122 '),
 ('Chile',
  '5,369,761',
  '',
  '64,497                                ',
  '',
  '5,252,450',
  '',
  '52,814',
  '7',
  '50,382,097',
  '19,250,195 '),
 ('Malaysia',
  '5,276,312',
  '',
  '37,348                                ',
  '',
  '5,230,953',
  '',
  '8,011',
  '11',
  '68,580,916',
  '33,181,072 '),
 ('Canada',
  '4,933,311',
  '',
  '58,475                                ',
  '',
  '4,862,159',
  '+665',
  '12,677',
  '99',
  '66,572,774',
  '38,388,419 '),
 ('Belgium',
  '4,859,804',
  '',
  '34,376                                ',
  '',
  '4,822,933',
  '+108',
  '2,495',
  'N/A',
  '37,454,182',
  '11,668,278 '),
 ('Israel',
  '4,841,772',
  '',
  '12,707                                ',
  '',
  '4,798,473',
  '',
  '30,592',
  'N/A',
  '41,373,364',
  '9,326,000 '),
 ('DPRK',
  '4,772,813',
  '',
  '74                                ',
  '',
  '4,772,739',
  '',
  '0',
  '',
  '',
  '25,990,679 '),
 ('Thailand',
  '4,767,238',
  '',
  '34,567                                ',
  '',
  '4,692,636',
  '',
  '40,035',
  'N/A',
  '17,273,454',
  '70,078,203 '),
 ('Czechia',
  '4,758,599',
  '',
  '43,508                                ',
  '',
  '4,714,365',
  '',
  '726',
  '2',
  '57,803,906',
  '10,736,784 '),
 ('Peru',
  '4,572,667',
  '',
  '222,161                                ',
  '',
  '4,350,506',
  '',
  '0',
  '4',
  '39,010,194',
  '33,684,208 '),
 ('Switzerland',
  '4,451,785',
  '',
  '14,452                                ',
  '',
  '4,436,453',
  '',
  '880',
  'N/A',
  '23,833,472',
  '8,773,637 '),
 ('Philippines',
  '4,140,383',
  '',
  '66,864                                ',
  '',
  '4,067,381',
  '',
  '6,138',
  'N/A',
  '36,102,746',
  '112,508,994 '),
 ('South Africa',
  '4,076,463',
  '',
  '102,595                                ',
  '',
  '3,912,506',
  '',
  '61,362',
  '192',
  '26,795,090',
  '60,756,135 '),
 ('Romania',
  '3,527,050',
  '',
  '68,894                                ',
  '',
  '3,456,088',
  '',
  '2,068',
  '41',
  '28,660,306',
  '19,031,335 '),
 ('Denmark',
  '3,183,756',
  '',
  '8,814                                ',
  '',
  '3,174,942',
  '',
  '0',
  '',
  '129,333,107',
  '5,834,950 '),
 ('Singapore',
  '3,006,155',
  '',
  '2,024                                ',
  '',
  '3,002,907',
  '+306',
  '1,224',
  '4',
  '24,756,666',
  '5,943,546 '),
 ('Hong Kong',
  '2,930,929',
  '',
  '14,640                                ',
  '',
  '2,912,233',
  '',
  '4,056',
  'N/A',
  '76,127,725',
  '7,604,299 '),
 ('Sweden',
  '2,753,556',
  '',
  '27,354                                ',
  '',
  '2,725,458',
  '+25',
  '744',
  'N/A',
  '19,500,873',
  '10,218,971 '),
 ('Serbia',
  '2,614,248',
  '',
  '18,057                                ',
  '',
  '2,595,674',
  '',
  '517',
  '',
  '13,427,937',
  '8,653,016 '),
 ('New Zealand',
  '2,598,630',
  '',
  '5,574                                ',
  '',
  '2,588,718',
  '',
  '4,338',
  '',
  '7,768,604',
  '4,898,203 '),
 ('Iraq',
  '2,465,545',
  '',
  '25,375                                ',
  '',
  '2,439,497',
  '',
  '673',
  '',
  '19,544,451',
  '42,164,965 '),
 ('Hungary',
  '2,229,987',
  '',
  '49,040                                ',
  '',
  '2,152,155',
  '',
  '28,792',
  '',
  '11,394,556',
  '9,606,259 '),
 ('Bangladesh',
  '2,048,186',
  '',
  '29,488                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '15,254,399',
  '167,885,689 '),
 ('Slovakia',
  '1,877,383',
  '',
  '21,221                                ',
  '',
  '1,856,162',
  '',
  '0',
  '23',
  '7,448,789',
  '5,460,193 '),
 ('Georgia',
  '1,855,289',
  '',
  '17,132                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '16,920,079',
  '3,968,738 '),
 ('Jordan',
  '1,746,997',
  '',
  '14,122                                ',
  '',
  '1,731,007',
  '',
  '1,868',
  '59',
  '17,201,885',
  '10,300,869 '),
 ('Ireland',
  '1,733,755',
  '',
  '9,481                                ',
  '',
  '1,723,629',
  '',
  '645',
  '19',
  '13,083,449',
  '5,020,199 '),
 ('Pakistan',
  '1,581,936',
  '',
  '30,664                                ',
  '',
  '1,538,689',
  '',
  '12,583',
  '',
  '30,589,153',
  '229,488,994 '),
 ('Finland',
  '1,515,575',
  '',
  '11,949                                ',
  '',
  '1,503,147',
  '+32',
  '479',
  'N/A',
  '12,108,977',
  '5,554,960 '),
 ('Norway',
  '1,509,732',
  '',
  '6,638                                ',
  '',
  '1,503,024',
  '',
  '70',
  'N/A',
  '11,002,430',
  '5,511,370 '),
 ('Kazakhstan',
  '1,411,831',
  '',
  '13,848                                ',
  '',
  '1,383,020',
  '',
  '14,963',
  '24',
  '11,575,012',
  '19,205,043 '),
 ('Lithuania',
  '1,396,731',
  '+63',
  '9,897                                ',
  '',
  '1,385,746',
  '+95',
  '1,088',
  'N/A',
  '10,540,357',
  '2,661,708 '),
 ('Slovenia',
  '1,356,454',
  '',
  '7,100                                ',
  '',
  '1,349,283',
  '',
  '71',
  'N/A',
  '2,847,701',
  '2,078,034 '),
 ('Bulgaria',
  '1,339,501',
  '',
  '38,737                                ',
  '',
  '1,292,640',
  '',
  '8,124',
  '36',
  '11,636,936',
  '6,844,597 '),
 ('Croatia',
  '1,309,728',
  '',
  '18,687                                ',
  '',
  '1,258,432',
  '',
  '32,609',
  '',
  '5,660,084',
  '4,059,286 '),
 ('Guatemala',
  '1,288,588',
  '',
  '20,285                                ',
  '',
  '1,265,533',
  '',
  '2,770',
  '5',
  '7,593,848',
  '18,584,039 '),
 ('Morocco',
  '1,278,944',
  '',
  '16,301                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '13,001,033',
  '37,772,756 '),
 ('Lebanon',
  '1,243,838',
  '',
  '10,952                                ',
  '',
  '1,087,587',
  '',
  '145,299',
  '74',
  '4,795,578',
  '6,684,849 '),
 ('Costa Rica',
  '1,238,883',
  '',
  '9,428                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '4,659,757',
  '5,182,354 '),
 ('Bolivia',
  '1,211,716',
  '',
  '22,407                                ',
  '',
  '1,177,145',
  '',
  '12,164',
  '220',
  '2,710,261',
  '11,992,656 '),
 ('Tunisia',
  '1,153,361',
  '',
  '29,423                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '5,013,383',
  '12,046,656 '),
 ('Cuba',
  '1,115,243',
  '',
  '8,530                                ',
  '',
  '1,106,647',
  '',
  '66',
  '',
  '14,401,151',
  '11,305,652 '),
 ('Ecuador',
  '1,070,188',
  '',
  '36,043                                ',
  '',
  '1,034,145',
  '',
  '0',
  '',
  '3,082,403',
  '18,113,361 '),
 ('UAE',
  '1,067,030',
  '',
  '2,349                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '200,732,262',
  '10,081,785 '),
 ('Panama',
  '1,059,893',
  '',
  '8,727                                ',
  '',
  '1,051,102',
  '',
  '64',
  '16',
  '7,882,622',
  '4,446,964 '),
 ('Uruguay',
  '1,041,111',
  '',
  '7,664                                ',
  '',
  '1,030,944',
  '',
  '2,503',
  '18',
  '6,114,822',
  '3,496,016 '),
 ('Mongolia',
  '1,011,459',
  '',
  '2,284                                ',
  '',
  '1,009,175',
  '',
  '0',
  'N/A',
  '4,030,048',
  '3,378,078 '),
 ('Nepal',
  '1,003,450',
  '',
  '12,031                                ',
  '',
  '991,322',
  '',
  '97',
  '',
  '6,047,766',
  '30,225,582 '),
 ('Belarus',
  '994,037',
  '',
  '7,118                                ',
  '',
  '985,592',
  '',
  '1,327',
  '',
  '13,646,641',
  '9,432,800 '),
 ('Latvia',
  '982,280',
  '',
  '6,686                                ',
  '',
  '971,406',
  '',
  '4,188',
  '',
  '7,885,792',
  '1,848,837 '),
 ('Saudi Arabia',
  '841,469',
  '',
  '9,646                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '45,481,735',
  '35,844,909 '),
 ('Paraguay',
  '837,602',
  '',
  '20,155                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '2,657,506',
  '7,305,843 '),
 ('Azerbaijan',
  '834,649',
  '',
  '10,400                                ',
  '',
  '824,089',
  '',
  '160',
  '',
  '7,748,050',
  '10,300,205 '),
 ('Bahrain',
  '729,549',
  '',
  '1,574                                ',
  '',
  '727,915',
  '',
  '60',
  'N/A',
  '10,948,549',
  '1,783,983 '),
 ('Cyprus',
  '681,110',
  '',
  '1,365                                ',
  '',
  '679,745',
  '',
  '0',
  '',
  '9,640,118',
  '1,223,387 '),
 ('Dominican Republic',
  '675,890',
  '',
  '4,384                                ',
  '',
  '671,316',
  '',
  '190',
  '4',
  '3,740,928',
  '11,056,370 '),
 ('Sri Lanka',
  '672,750',
  '',
  '16,897                                ',
  '',
  '655,852',
  '',
  '1',
  '',
  '6,486,117',
  '21,575,842 '),
 ('Kuwait',
  '667,094',
  '',
  '2,570                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '8,455,743',
  '4,380,326 '),
 ('Myanmar',
  '641,801',
  '',
  '19,495                                ',
  '',
  '620,159',
  '',
  '2,147',
  '',
  '11,672,345',
  '55,227,143 '),
 ('Moldova',
  '634,508',
  '',
  '12,206                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '3,216,305',
  '4,013,171 '),
 ('Estonia',
  '627,820',
  '',
  '3,001                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '6,944,652',
  '1,321,910 '),
 ('Palestine',
  '621,008',
  '',
  '5,404                                ',
  '',
  '615,445',
  '',
  '159',
  '',
  '3,078,533',
  '5,345,541 '),
 ('Venezuela',
  '552,695',
  '',
  '5,856                                ',
  '',
  '546,537',
  '',
  '302',
  '31',
  '3,359,014',
  '29,266,991 '),
 ('Egypt',
  '516,023',
  '',
  '24,613                                ',
  '',
  '442,182',
  '',
  '49,228',
  '122',
  '3,693,367',
  '106,156,692 '),
 ('Qatar',
  '514,524',
  '',
  '690                                ',
  '',
  '513,687',
  '',
  '147',
  '16',
  '4,065,369',
  '2,979,915 '),
 ('Libya',
  '507,274',
  '',
  '6,437                                ',
  '',
  '500,835',
  '',
  '2',
  '',
  '2,483,848',
  '7,040,745 '),
 ('Ethiopia',
  '501,117',
  '',
  '7,574                                ',
  '',
  '488,171',
  '',
  '5,372',
  '',
  '5,565,340',
  '120,812,698 '),
 ('Réunion',
  '494,595',
  '',
  '921                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '1,603,660',
  '908,061 '),
 ('Honduras',
  '474,590',
  '',
  '11,165                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '1,660,662',
  '10,221,247 '),
 ('Armenia',
  '451,426',
  '',
  '8,776                                ',
  '',
  '435,162',
  '',
  '7,488',
  '',
  '3,242,901',
  '2,971,966 '),
 ('Bosnia and Herzegovina',
  '403,585',
  '',
  '16,385                                ',
  '',
  '379,084',
  '',
  '8,116',
  '',
  '1,884,721',
  '3,249,317 '),
 ('Oman',
  '399,449',
  '',
  '4,628                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '25,000,000',
  '5,323,993 '),
 ('Luxembourg',
  '391,117',
  '',
  '1,232                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '4,587,145',
  '642,371 '),
 ('North Macedonia',
  '350,520',
  '',
  '9,971                                ',
  '',
  '337,068',
  '',
  '3,481',
  '',
  '2,226,216',
  '2,081,304 '),
 ('Zambia',
  '349,304',
  '',
  '4,069                                ',
  '',
  '341,316',
  '',
  '3,919',
  '',
  '4,112,961',
  '19,470,234 '),
 ('Kenya',
  '344,130',
  '',
  '5,689                                ',
  '',
  '337,309',
  '',
  '1,132',
  'N/A',
  '3,967,062',
  '56,215,221 '),
 ('Brunei ',
  '343,075',
  '',
  '225                                ',
  '',
  '243,601',
  '',
  '99,249',
  '3',
  '717,784',
  '445,431 '),
 ('Albania',
  '334,863',
  '',
  '3,605                                ',
  '',
  '330,233',
  '',
  '1,025',
  '',
  '1,941,032',
  '2,866,374 '),
 ('Botswana',
  '330,442',
  '',
  '2,801                                ',
  '',
  '327,049',
  '',
  '592',
  '1',
  '2,026,898',
  '2,441,162 '),
 ('Montenegro',
  '296,492',
  '',
  '2,846                                ',
  '',
  '291,794',
  '',
  '1,852',
  'N/A',
  '2,769,281',
  '627,950 '),
 ('Algeria',
  '272,010',
  '',
  '6,881                                ',
  '',
  '183,061',
  '',
  '82,068',
  '',
  '230,960',
  '45,350,148 '),
 ('Nigeria',
  '267,188',
  '',
  '3,155                                ',
  '',
  '259,953',
  '',
  '4,080',
  '11',
  '5,708,974',
  '216,746,934 '),
 ('Zimbabwe',
  '266,328',
  '',
  '5,737                                ',
  '',
  '258,888',
  '',
  '1,703',
  '12',
  '2,525,756',
  '15,331,428 '),
 ('Uzbekistan',
  '253,662',
  '',
  '1,637                                ',
  '',
  '241,486',
  '',
  '10,539',
  '23',
  '1,377,915',
  '34,382,084 '),
 ('Mozambique',
  '233,731',
  '',
  '2,250                                ',
  '',
  '228,805',
  '',
  '2,676',
  '11',
  '1,371,127',
  '33,089,461 '),
 ('Afghanistan',
  '231,975',
  '',
  '7,985                                ',
  '',
  '210,069',
  '',
  '13,921',
  '',
  '1,363,981',
  '40,754,388 '),
 ('Martinique',
  '230,354',
  '',
  '1,102                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '828,928',
  '374,087 '),
 ('Laos',
  '218,950',
  '',
  '758                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '1,233,207',
  '7,481,023 '),
 ('Iceland',
  '209,889',
  '',
  '229                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '1,996,384',
  '345,393 '),
 ('Kyrgyzstan',
  '206,897',
  '',
  '2,991                                ',
  '',
  '196,406',
  '',
  '7,500',
  '131',
  '1,907,195',
  '6,728,271 '),
 ('Guadeloupe',
  '203,235',
  '',
  '1,021                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  'N/A',
  '938,039',
  '399,794 '),
 ('El Salvador',
  '201,855',
  '',
  '4,230                                ',
  '',
  '179,410',
  '',
  '18,215',
  '',
  '2,610,114',
  '6,550,389 '),
 ('Trinidad and Tobago',
  '191,496',
  '',
  '4,390                                ',
  '',
  '187,078',
  '',
  '28',
  'N/A',
  '913,289',
  '1,406,585 '),
 ('Maldives',
  '186,694',
  '',
  '316                                ',
  '',
  '163,687',
  '',
  '22,691',
  '25',
  '2,213,831',
  '540,985 '),
 ('Namibia',
  '172,280',
  '',
  '4,103                                ',
  '',
  '167,099',
  '',
  '1,078',
  '',
  '1,062,663',
  '2,633,874 '),
 ('Uganda',
  '171,983',
  '',
  '3,632                                ',
  '',
  '100,431',
  '',
  '67,920',
  '',
  '3,012,408',
  '48,432,863 '),
 ('Ghana',
  '171,889',
  '',
  '1,462                                ',
  '',
  '170,425',
  '',
  '2',
  '',
  '2,541,625',
  '32,395,450 '),
 ('Jamaica',
  '156,857',
  '',
  '3,748                                ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '1,183,986',
  '2,985,094 '),
 ('Cambodia',
  '139,095',
  '',
  '3,056                                ',
  '',
  '136,037',
  '',
  '2',
  '',
  '3,091,420',
  '17,168,639 '),
 ('Rwanda',
  '133,518',
  '',
  '1,468                                ',
  '',
  '132,039',
  '',
  '11',
  '',
  '6,021,981',
  '13,600,464 '),
 ('Cameroon',
  '125,379',
  '',
  '1,974                                ',
  '',
  '123,280',
  '',
  '125',
  'N/A',
  '1,751,774',
  '27,911,548 '),
 ('Malta',
  '121,405',
  '',
  '883                                ',
  '',
  '120,122',
  '',
  '400',
  '',
  '2,168,199',
  '444,033 '),
 ('Barbados',
  '110,575',
  '',
  '648                                ',
  '',
  '108,647',
  '',
  '1,280',
  '',
  '814,159',
  '288,023 '),
 ('Angola',
  '107,323',
  '',
  '1,937                                ',
  '',
  '103,419',
  '',
  '1,967',
  '',
  '1,499,795',
  '35,027,343 '),
 ('Channel Islands',
  '101,717',
  '',
  '228                                ',
  '',
  '101,321',
  '',
  '168',
  '',
  '1,252,808',